
.text_fur{
    position: relative;
    top: -50vh;
    left: 100vh;
}
.text_claws{
    position: relative;
    top: -25vh;
    left: 100vh;
}

.text{
    text-shadow: 2px 2px 5px;
    border-width: 5px;
    border-style: dashed;
    border-color: green;
    border-radius: 10px;
}
.img_border{
    border-width: 3px;
    border-style: solid;
    border-color: green;
}